<div class="container">
  <div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">

    <%if @user==nil %>
      <a href="/login">Login</a>
    <%else%> 
      <p>Hello, <%=@user.username%></p>

      <form action="/logout" method="POST" id="logout">
        <a class="pointer" onclick="document.getElementById('logout').submit();">Logout</a>
      </form>
    <%end%>
  </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%if @user%>
        <div id="input">
          <form action="/tweets" method="POST">
            Message: <input type="text" name="message">
            <input type="submit" class="btn btn-default">
          </form>
        </div>
      <%end%>
    </div>
  </div>


  <%@tweets.reverse.each do |tweet|%>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="tweet">
          <h1><%="#{tweet.user.username}"%></h1>
          <br>
          <div class="tweet-msg">
            <p><%="#{tweet.message}"%></p>
          </div>
          <div class="right-allign">
            <%if @user==tweet.user%>
              <form action="/delete-msg" method="POST" id="delete-msg">
                <input type="hidden" name="index" value="<%=tweet.id%>"/> 
                <a class="pointer" onclick="document.getElementById('delete-msg').submit();">Delete</a>
              </form>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>