<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div id="input">
            <form action="/tweets" method="POST">
              User: <input type="text" name="user">
              Message: <input type="text" name="message">
              <input type="submit" class="btn btn-default">
            </form>
          </div>
        </div>
      </div>


        <%@tweets.each_with_index do |tweet, i|%>
          <br>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="tweet">
                <h1><%="#{tweet.user}"%></h1>
                <br>
                <div class="tweet-msg">
                  <p><%="#{tweet.message}"%></p>
                </div>
                <div class="right-allign">
                  <form action="/delete-msg" method="POST" id="form">
                    <input type="hidden" name="index" value=<%=i%>/> 
                    <a onclick="document.getElementById('form').submit();">Delete</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <%end%>
  </body>

</html>